
li {
    display: inline;
    
}


ul {
    float: right;
    display: inline !important;
}


:host(.horizontal-menu) {
    
    display: inline-block;
    max-width: 200px;
    min-width: 200px;
    height: 100vh;
    padding-left: 4px;
    flex-grow: 0;
    background-color: rgb(53, 133, 138);
    overflow-x: hidden;
    overflow-y: auto;
}

:host(.horizontal-menu>span.icon) {
    width: 10px;
    height: 10px;
}

div {
    margin-top: 20px;
}