<div style="float: right;">
    <span class="menu-area justify-content-end">
        <!--<span *ngIf="this.isAuth|async then thenBlock; else elseBlock;">-->
        <spa-auth-menu></spa-auth-menu>
        <app-authenticated [username$]="username$"></app-authenticated>
        <!-- </span> -->

    </span>

</div>

<span class='title-bar'>
    <img src="/images/imgs/tennis-club-logo.jpg" alt="Tennis club logo">
</span>

<ng-template #thenBlock>
        <app-authenticated></app-authenticated>
</ng-template>

<ng-template #elseBlock>
         <spa-auth-menu></spa-auth-menu>
</ng-template>

            <!--authenticated.username.length!=0
        class='title-bar'*screenLarge

            *ngIf="person$ | async as person

            <div class="menu-area">
                <icon-bar [showIcons]='flagForIcons'></icon-bar>
                <spa-menu *ngIf="!menuService.isVertical"></spa-menu>




            <div *screenSmall class='title-bar-small'>
                <div class="small-icon-holder">
                    <a><img src="/images/imgs/menu.png" (click)='menuService.toggleMenu()'></a>
                </div>
                <icon-bar [showIcons]='!flagForIcons'></icon-bar>

                <div class="small-image-holder">
                    <img src="/images/imgs/logo.png" alt="Tennis club logo" class="small-image">
                </div>
            </div>


                 </div>
            <div *ngIf="!this.authenticated.username">
            </div>
             -->
