
<spa-body>

    <div class="container body-content">

    </div>
    <!--
        <nav>
            <ul>
                <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="Page">Home</a></li>
                <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="Page">Login</a></li>
                <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="Page">Register</a></li>
            </ul>
        </nav>
    
    -->




    <router-outlet></router-outlet>

</spa-body>
