
:host(div.vertical-menu) {
    font-size: 10px;
}

:host(.vertical-menu .menu-item) {
    font-size: 12px;
    padding: 3px 15px 3px 8px;
}

.menu-icon {
    height: 30px;
    width: 30px;
    margin:10px;
}
.menu-text {
    font-size: 15px;
}
.active {
    outline: none;
    transform: scale(1.05);
    background-color: rgba(247, 58, 58, 0.8);
}

:host(.vertical-menu.in-popup) {
    padding-left: 14px;
}

span span button {
    margin: 3px 0px 3px 5px;
    padding: 0;
    background: transparent;
    border: 0;
}

span.dropdown,
span.dropleft,
span.dropright {
    float: right;
}

    span.dropdown > button.dropdown-toggle::after {
        border-top-color: #fff;
    }

    span.dropright > button.dropdown-toggle::after {
        border-left-color: #fff;
    }

    span.dropleft > button.dropdown-toggle::before {
        border-right-color: #fff;
    }

    