<div class="form-group">
    <label>Аватар</label>
    <div class="form-group">
        <img [src]="user.avatarfile" alt="preview" class="rounded shadow w-100" id="imageFile">
    </div>
    <div class="form-group">
        <input type="file" accept="image/*" class="custom-file-input" id="customFile" (change)="handleFileInput($any($event.target).files)" (change)="upload()" [disabled]="working">
    </div>
</div>
<div class="form-group">
    <label>Имя</label>
    <input type="text" [(ngModel)]="user.name" class="form-control" />
</div>
<div class="form-group">
    <label>Фамилия</label>
    <input type="text" [(ngModel)]="user.last_name" class="form-control" />
</div>
<div class="form-group">
    <label>Логин</label>
    <input type="text" [(ngModel)]="user.login" class="form-control" />
</div>